{% extends 'base.html.twig' %}

{% block title %}Troc'Eco | Catégorie maison{% endblock %}

{% block contenuPrincipal %}
<section>
    <div>
        <h1 class="text-center">Catégorie Maison</h1>
    </div>
    <div class="container">
        <div class="row">
        {% for produit in produits %}
            <div class="card mb-3 card-size" style="max-width: 1120px;">
                <div class="row g-0">
                    <div class="col-md-4 image">
                    <a href="#"><img src="{{ asset('/uploads/brochures/' ~ produit.photo) }}" class="img-thumbnail" alt="photo-produit"/></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body background-maison">
                            <h2 class="card-title">{{ produit.titre }}</h2>
                            <p class="card-text">{{ produit.description }}</p>
                        </div>
                    </div>
                </div>
                <a href="#"><h3 class="btn text-center text-dark ">Voir ce troc</h3></a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}