/********** GENERAL **********/

*
{
    box-sizing: border-box;
}

.card-size{
    
    background-color: #FFDAC3;
    margin-left:10%;
    margin-right:5%;
}

.liste-produit{
    margin: auto;
    padding-left: 30px;
    

}