/********** GENERAL **********/

*
{
    box-sizing: border-box;
}

/*********** MAIN **********/


.lien-profil{
    color: #ff9F7C;
    font-family: 'Lato';
    text-decoration: none;
   
}

.lien-profil:hover{
    color: #fbf195;
}

.h2-partie1{

    color: #03989E;
    font-family: 'Lato';
    font-size: 9.5vh;
    text-shadow:#e7f6ff 0 -1px 0,
                #00abf0 1px 1px 0,
                #cfffe2 2px 2px 0,
                #00ceff 3px 3px 0,
                #006392 4px 4px 0,
                #FFF 5px 5px 0,
                #333 5px 5px 10px;
                
}

/* Images */
.robe{
    width: 30%;
    filter: drop-shadow(30px 10px 4px rgb(121, 121, 121));
    
}

.livres{
    filter: drop-shadow(30px 10px 4px rgb(121, 121, 121));
}

.figcaption{

    color:#FAB725;
    font-family: 'Anton', sans-serif;
    font-size: 6vh;
    
}

.partie1{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

/***** PARTIE 2*************/
.partie2{
    background-color:#FFDAC3 ;
}
.h2-partie2{

    color: #03989E;
    font-family: 'Lato';
    font-size: 9.5vh;/*1/100e de la hauteur du viewport (désigne schématiquement la surface de la fenêtre du navigateur.)*/
    text-shadow:#e7f6ff 0 -1px 0,
                #00abf0 1px 1px 0,
                #cfffe2 2px 2px 0,
                #00ceff 3px 3px 0,
                #006392 4px 4px 0,
                #FFF 5px 5px 0,
                #333 5px 5px 10px;
                
                
}
.img1-partie2{
    background-color: #FFFFFF70;
   
}
.img2-partie2{
    background-color: #FFFFFF70;
    
}
/************PARTIE 3******/
.partie3{
    
    /*background-repeat: no-repeat;*/
    margin-top:9%;
    margin-bottom: 9%;
  
    
}

.partie article{
    padding: 50px;
}

/*.partie3 h2{/* Espace des lettres et lignes 
    letter-spacing: 0.5em;
    line-height: 1em;
}*/

.h2-partie3{

    color: #03989E;
    font-family: 'Lato';
    font-size: 9.5vh;
    text-shadow:#e7f6ff 0 -1px 0,
                #00abf0 1px 1px 0,
                #cfffe2 2px 2px 0,
                #00ceff 3px 3px 0,
                #006392 4px 4px 0,
                #FFF 5px 5px 0,
                #333 5px 5px 10px;
                margin-left: 60%;
               
                
                
             
}

.partie3 p{ 
    background-color:#cfffe280;
    font-size: 22px;
    text-align: center;
    padding-left: 20%;
    padding-right:20%;
    padding-top: 40px;
    padding-bottom:20px;
   
  
} 

/********** LE RESPONSIVE ****************/
/*TABLET A partir de 1024px et inférieur*/
@media screen and (max-width: 1024px){
    .h2-partie1{ 
        font-size: 4vh;
    }
    .h2-partie2{ 
        font-size: 4vh;
        flex-direction: column;
        
    }
    .h2-partie3{ 
        font-size: 4vh;
        margin-left: 30%;
       
    }
    .figcaption{
        font-size: 2vh;
    }
}
/*MOBILE A partir de 767px et inférieur*/
@media screen and (max-width: 767px){
    .h2-partie1{ 
        font-size: 2vh;
    }
    .h2-partie2{ 
        font-size: 2vh;
    }
    .h2-partie3{ 
        font-size: 2vh;
    }
    .figcaption{
        font-size: 1vh;
    }
}