/********** GENERAL **********/

*
{
    box-sizing: border-box;
}

 

/*********** HEADER **********/
.bg-nav{
    background-color: #B28871;
}

/*div qui contient logo et nav*/
.header{ 
    
    display:flex;
    justify-content: space-between;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    
}

.logo{
    
    height: 90px;
    width: auto;
    
}

.logo:hover{
    
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

/*lien de la navbar*/

/*header a .link-nav{
    font-family: 'Lato';
    color: white;;
    margin-left: 40px;
    margin-top:25px;
    text-decoration: none;
    text-transform: uppercase;

}

/*header a .link-nav:hover{
    color: #ff9f7c;
    z-index: 1;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}*/



/*********** BODY **********/


/*{
    background-image: url(../img/background.png);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    /*background-size: cover; /*par defaut:contain= payage ou portrait( applique img tt largeur du main sans tt couvrir), */
    /*padding: 35px/*1ER top bottom*/ /*0/*2EME left right*/
    

/*}*/



h1{ /* Tous les titres */
    font-family: 'Lato';
    background-color: #CFFFE280;
    word-spacing: 0.65rem;
}


/**** BOUTON SCROLL ****/

.fas{ /* Taille Fleche du scroll */

    font-size: 2.5rem;
    color:  white;
   
}
/*.fa-arrow-up:before { 

    
}*/


.bouton-scroll{ /* couleur bouton scroll */

    background: #03989E;
    height: 10% !important;

}

/*********** FOOTER ***************/
footer{
    background-color:#03989E ;
    height:15%;
    
   
}

footer a  { /*les liens de la footer */
    color:#fff;
    
    text-decoration: none;
}

footer h2{ /*le h2 dans le footer*/
    color: #fff;
    font-size: 22px;
    border-top: 2px solid #fff;
    margin-left: 50px;
    margin-right: 60px;
   
    
    margin-bottom: 20px;
    padding-top: 10px;
}

.a-left{/* le lien qui ramène à la page Politique de confidentialité*/
   margin-left:70%;
  
  
}

.a-right{/* le lien qui ramène à la page politique et contactez nous */
    margin-left:15%;
    
    
}

.logo-footer{/*la div des logos qui sont dans le footer*/
    margin-left: 40%;
}

.facebook, .instagram, .twitter{ 
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 50px;
    
}

  